@import url(~antd/dist/antd.css);
.is-up .price span {
  color: green; }
  .is-up .price span::after {
    position: absolute;
    right: 0;
    font-family: anticon !important;
    content: "\E607"; }

.is-down .price span {
  color: red; }
  .is-down .price span::after {
    position: absolute;
    right: 0;
    font-family: anticon !important;
    content: "\E606"; }

.price span {
  position: relative;
  padding-right: 20px; }

.text-red {
  color: red; }

.text-green {
  color: green; }

.coin-logo {
  margin-right: 10px; }
