@import url("https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro");
.is-up .price span {
  color: #00b649; }
  .is-up .price span::after {
    position: absolute;
    right: 0;
    font-family: anticon !important;
    content: "\E607"; }

.is-down .price span {
  color: #fd0e75; }
  .is-down .price span::after {
    position: absolute;
    right: 0;
    font-family: anticon !important;
    content: "\E606"; }

.price span {
  position: relative;
  padding-right: 20px; }

.text-red {
  color: #fd0e75; }

.text-green {
  color: #00b649; }

.coin-logo {
  margin-right: 10px; }
